---
layout: handbook-page-toc
title: People Success Performance Indicators
description: "GitLab's People Success Department Performance Indicators."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Key Review
The metrics on this page are currently being re-organized according to what the People Group reports out every [Key Review](https://about.gitlab.com/handbook/key-review/) meeting and [Group Conversation](https://about.gitlab.com/handbook/group-conversations/). Below is a link to the most recent `Group Conversation` deck for Team Members to access in the interim. 

[People Group Conversation Deck](https://docs.google.com/presentation/d/1bNQGGdMtis5Kujbo4KyK7tHqJbab_v_ZAQbdoVExryg/edit#slide=id.g20e385ea126_0_374)

<%= performance_indicators('People Success') %>
