---
layout: markdown_page
title: "Group Direction - AI Model Validation"
description: "Research and Evaluate AI/ML models for use to enrich the GitLab product with Generative AI"
canonical_path: "/direction/ai-powered/ai_model_validation/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


## Overview
The AI Model Validation group is focused on research and evaluation AI/ML models for use to enrich the GitLab product with Generative AI. 

### Categories 
This group consists of the following categories: 

- [AI Research](/ai_research): Identifies and explores AI/ML models to support use cases other GitLab sections, stages, groups are developing to enrich the DevSecOps experience for GitLab users. 
- [AI Evaluation](/ai_evaluation): An automated and scalable AI/ML model evaluation tool focused on exercising and testing various model performance, quality of outputs, and accuracy against specific inputs. 

<p align="center">
    <i><br>
    Last Reviewed: 2023-08-17<br>
    Last Updated: 2023-08-17
    </i>
</p>